* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(199, 199, 199);
}


.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    color: rgb(46, 54, 61);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 600px;
    height: 600px;
    border: 4px solid black;
    
}

.celdas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

.celda{
    border: 2px solid green;
    background-color: aliceblue;
}

.celda:hover{
    background-color: rgba(98, 0, 189, 0.571);
}
.celda:active{
    background-color: rgba(187, 114, 255, 0.507);
}

.players{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player{
    border: 2px solid blue;
}




